.env
*/__pycache__/*
*.pyc

*/test_data/*
*/uploads/audio/*

# Kubernetes
secrets.yaml

# Voice recognition service 
*/models/*

# Optimizer's graph
TravelOptimizerService/travel_graph.pkl

# local files
gpt.txt
todo.txt

# terraform files 
.terraform/